.container {
  margin: 0 auto;
  position: relative;
  top: -15px;
  width: 500px;
  height: 470px;
  background-color: #ccc;
}

.boxs {
  position: absolute;
  width: 150px;
  height: 150px;
}

.red {
  top: 10px;
  right: 0;
  background-color: red;
}

.yellow {
  bottom: 140px;
  background-color: yellow;
}

.green {
  left: 75px;
  bottom: -10px;
  background-color: green;
}